/* the greatest grandaddy of them all */
:root {
    --primary-bg-color: #2fb3fe;
    --secondary-bg-color: #97d0f2;
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Alfa Slab One", serif;
    --primary-spacing: 20px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    background:
        linear-gradient(45deg, transparent, var(--primary-bg-color)),
        url("../img/fun-year-round.jpg") center / cover;
    background-attachment: fixed;
    margin: var(--primary-spacing);
    font-family: var(--primary-font);
    line-height: 1.75;
}

p::first-letter {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 1.5em;
}

header h1::after {
    content: "\a \"We Promise Jason Isn't Here\"";
    white-space: pre-wrap;
    font-size: 40px;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    color: var(--primary-bg-color);
}

/*  NAV  */

nav {
    text-align: center;
    margin-bottom: var(--primary-spacing);
}

nav img {
    width: 115px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* no commas mean get the <a> in the <ul> in the <nav> */
nav ul a {
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    padding: calc( var(--primary-spacing) / 2 );
    display: inline-block;
}

nav ul a:hover,
nav ul a:focus {
    color: #97d0f2;
}

nav ul li {
    display: inline;
}

/* commas mean this, and that, and that */
h1, h2, h3 {
    font-family: var(--secondary-font);
    font-weight: normal;
    line-height: 1.2;
}

h1 { /* clamp(lowest size, ideal size, largest size) */
    /* vw ---> view width */
    /* vh ---> view height */
    font-size: clamp(90px, 7.5vw, 100px);
}

h1:hover {
    background: linear-gradient(white, var(--secondary-bg-color));
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* choose the neighboring <p> next to an <h1> */
h1 + p {
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
}

h2 {
    font-size: 30px;
    margin-top: 60px;
}

h3 {
    font-size: 24px;
    background: var(--primary-bg-color);
    color: white;
    padding: 15px;
    margin-top: 0;
}

section p:first-of-type {
    font-style: italic;
    font-weight: 700;
    opacity: 0.5;
}

header {
    background: url("../img/masthead-darkened.jpg") center / cover;
    color: #fff;
    text-align: center;
    padding: 50px 7% 50px 7%;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

h2 {
    color: #fff;
    text-align: center;
}

h2::before {
    content: "Come By and ";
}

section {
    background: #fff;
    padding: 25px;
    margin-bottom: 20px;
}

header, section {
/*     border: 4px solid #2fb3fe; */
}

section p {
    margin: calc( var(--primary-spacing) / 2);
}

section a[target="_blank"]::after {
    content: " »";
}

section:last-child {
    border-top: solid pink 30px;
    position: relative;
}

section:last-child::before {
    content: "FAVORITE";
    font-weight: 800;
    color: white;
    position: absolute;
    top: -30px;
    left: 8px;
}

section > a {
    color: red;
}

/* the $= means ends with */
a[href$=".pdf"] {
    background: url("../img/icon-pdf.png") no-repeat left center / 16px 16px;
    padding-left: 20px;
}

/* the ^= means starts with */
a[href^="http"] {
    background-image: url("../img/icon-external-link.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left center;
    padding-left: 20px;
}

/* the *= means contains the word/phrase/pattern anywhere inside */
a[href*="youtube.com"] {
    background: url("../img/icon-youtube.svg") no-repeat left center / 16px 16px;
    padding-left: 20px;
}

.learn-more-link img {
    vertical-align: baseline;
    margin-left: 0.5em;
}

.learn-more-link:hover,
.learn-more-link:focus {
    color: red;
}

.learn-more-link svg * {
    stroke: currentColor;
    stroke-width: 1.4;
}

main, footer {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    color: #fff;
    text-align: center;
    font-weight: 300;
}

@media (min-width: 480px) {
    body {
        padding-top: 100px;
    }
    
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        /*   z-index allows us to control whether it's on top or behind something   */
        z-index: 100;
        background: black;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
    }
}

@media (min-width: 1100px) {
    main {
        max-width: 1400px;
        display: flex;
        gap: 30px;
        padding: 0 30px;
        margin: auto;
        align-items: flex-start;
    }
    
    section {
        width: 33.3%;
    }
}